<%-include("./partials/header.ejs", { mostrarBoton3: true }) %>
<h1>Orden guardada y enviada por email</h1>



<form action="/logoutFin" method="post">
    <button type="submit">Salir y descargar reporte</button>
</form>

<%-include("./partials/footer.ejs") %>